.MuiInputLabel-root.Mui-focused {
  color: white !important;
}

.MuiInputLabel-root {
  color: white !important;
}

.css-10botns-MuiInputBase-input-MuiFilledInput-input {
  color: white !important;

}